@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
}
